.juego {
    width: 100%;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
}

.canal {
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.silueta_cuadrado {
    position: absolute;
    align-self: flex-start;
    margin-left: calc(90% - 2px);
    width: 50px;
    height: 50px;
    display: block;
    border: 2px solid black;
}

.linea_guia {
    height: 1px;
    width: 100%;
    margin-top: 25px;
    margin-bottom: 25px;
    background-color: black;
}

.cuadrado_musical {
    position: absolute;
    align-self: flex-start;
    animation: mover_cuadrado 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear
}

@keyframes mover_cuadrado {
    0% {
        margin-left: 0%;
    }

    100% {
        margin-left: 100%;
    }
}

.puntaje {
    padding: 10px;
    width: 900px;
    border: 1px solid black;
}